.video-player {
  position: relative;
  border: var(--border);
  border-radius: var(--border-radius-l);
  overflow: hidden;
  background: linear-gradient(transparent, rgba(0,0,0,0.75));
  width: 172px;
  height: 118px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  
  
  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }

  @include mobile{
    width: 100%;
    height: auto;
  }


  &__video {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }


  &__play-button {
    @include abs-center;
    @include flex-center;
    @include square(50px);
  
    padding: 0;
    color: var(--color-white);
    background-color: color-mix(in srgb, var(--color-black) 60%, transparent);
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 40;

    @include hover {
      background-color: var(--color-red-60);
    }

    &.is-active {
      opacity: 1;
    }
  }


  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 14px 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(transparent, rgba(0,0,0,0.85));
    z-index: 1000;

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;


    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }
  }

  
  &__timeline-container {
    height: 7px;
    background: rgba(255,255,255,0.25);
    cursor: pointer;
    border-radius: 9999px;
    transition: height 0.2s ease;
    width: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -10px; 
      bottom: -10px; 
      left: 0;
      right: 0;
      z-index: 20;
    }

    &::after{
        position: absolute;
    }

    &:hover {
      height: 9px;
    }
  }


  &__timeline-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #e50914;
    border-radius: 9999px;
    width: 0;
    transition: width 0.1s linear;
  }

  
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   

    &-left-side, &-right-side{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__volume {
    &-container {
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      
      @include square(28px);
      padding: 0 4px; 
      
      border-radius: 100px;
      transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1), background 0.2s;
      flex-shrink: 0;

      @include hover {
        width: 110px; 
        background: var(--color-black-25); 
        

        .video-player__volume-slider {
          opacity: 1;
          pointer-events: auto;
        }
      }

      &.is-expanded {
        width: 110px;
        background: var(--color-black-25);

        .video-player__volume-slider {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }

    &-button {
      @include flex-center;
      @include square(24px); 
      background: none;
      border: none;
      color: #fff;
      flex-shrink: 0;
      cursor: pointer;
      position: relative;
      z-index: 50;

      &-icon {
        --iconSize: 22px; 
        position: absolute; 
      }
    }

    &-slider {
      -webkit-appearance: none;
      appearance: none;
      width: 60px;
      
      height: 24px; 
      background: transparent; 
      margin-left: 6px;
      cursor: pointer;
      
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;

      
     
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px; // Тонкая линия как на фото
        background: rgba(255, 255, 255, 0.3);
        border-radius: 2px;
      }

      /* ПОЛЗУНОК (Кружок) */
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: #fff;
        margin-top: -4px; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      }

      /* Поддержка Firefox */
      &::-moz-range-track {
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
      }
      &::-moz-range-thumb {
        height: 10px;
        width: 10px;
        background: #fff;
        border: none;
        border-radius: 50%;
      }
    }
  }

  &__time {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
    color: #fff;
  }

  &__play-pause-button {
    @include flex-center;
    @include square(22px);
    border-radius: 50%;
    padding: 0;
    color: var(--color-white);
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    
    position: relative;

    &-icon{
      position: absolute;
      --iconSize:22px;

      &--play{
        animation: keyframes-fill 0.3s;
      }
      &--pause{
        animation: keyframes-fill 0.3s;
        display: none;
      }


      @keyframes keyframes-fill {
        0% {
          transform: scale(0);
          opacity: 0;
        }

        50% {
          transform: scale(1.1);
        }
      }
    }

    &.is-active{
      .video-player__play-pause-button-icon{
        &--play{
          display: none;
        }
        &--pause{
          display: block;       
        }

      }
    }
    
    &:hover {
      color:var(--color-red-90)
    }
  }

  &__fullsreen-button{
    @include flex-center;
    @include square(16px);
    color: var(--color-white);
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    z-index: 50;
    
    position: relative;

    &::before{
      position: absolute;
      inset: 0;
    }

    &-icon{
      position: absolute;
      --iconSize:22px;
    }


  }


  @include mobile-above{
    &:not(:fullscreen){
        .video-player__buttons:has(.video-player__volume-container:hover){
          .video-player__time, .video-player__buttons-right-side {
            opacity: 0;
            visibility: hidden;
            width: 0;
            margin-right: 0;
          } 
        } 
    }
  }

  &:fullscreen  {
    .video-player__controls{
      padding: 20px 28px;
      gap: 10px;
    }
    .video-player__timeline-container {
      height: 8px;
    }
    .video-player__timeline-container:hover {
      height: 12px;
    }
    .video-player__buttons{
      padding-inline: 10px;


      &-left-side{
      gap: 20px;
      }
      &-right-side{
        gap: 50px;
      }
      }

    .video-player__play-pause-button{
      @include square(28px);

      &-icon{
        --iconSize:28px;
      }
    }
    .video-player__fullsreen-button{
      @include square(26px);

      &-icon{
        --iconSize:26px;
      }
    }
   

  .video-player__time { 
    font-size: 15px; 
  }

  .video-player__volume-container:hover { 
    width: 180px;
  }
  .video-player__volume-slider {  
    width: 130px;
  }


  .video-player__fullsreen-button::before{
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
  }

  }
  

}

